*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav__lamborghini{
    display: flex;
    width: 80px;
    height: 80px;
}

.nav{
    background-color: #202020;
    position: sticky;
    top: 0;
}

.nav-list{
display: flex;
justify-content: space-between;
align-items: center;
width: 50%;

}

.nav-list a{
    font-size: 16px;
    color: white;
}

.navbar-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #202020;
}
.header{
    height: calc(100vh - 80px);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    /* background-attachment:local; */
    background-attachment: fixed;
    /* background-position: top 0 left 700px; */
    transition: all 0.3s ease-in-out;
}

.header__text{
    font-size: 25px;
    color: white;
    padding: 10px 0;
}

.header__title{
    font-size: 72px;
    width: 500px;
    color: white;
    padding: 10px 0;
}



.header__bg{
    background-color: white;
}

.header__click{
    display: flex;
    padding: 130px 0 ;
    padding-bottom: 0;
}

.hexagon {
    cursor: pointer;
    /* top: 30vh; */
    position: absolute;
    margin: 0 auto;
    margin-top: 20px;
    /* padding: 20px 0; */
    background-color: inherit;
    border-radius: 10px;
    width: 100px; 
    height: 63px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
}
  
/* Creating pseudo-class */
.hexagon:before, .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
    background-color: inherit;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}
  
/* Align them in such a way
that they form a hexagon */
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}

.navbar-CUSTOM{
 display: flex;
 justify-content: space-between;
 /* align-items: center; */
 width: 50%;
}

.navbar{
    position: fixed;
    z-index: 1;
    background-color: #202020;
    width: 100%;
    visibility: hidden;
}

.navbar-CUSTOM li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10px;
}

.navbar-CUSTOM a{
    font-size: 12px;
    color: white;
    margin: 5px 0;
    width: 100%;
}

.navbar__lamborghini{
    visibility: hidden;
    /* display: none; */
}

.nav-display{
    visibility: visible !important;
}

.MODELS__item , .CUSTOM__item , .OWENRWIP__item , .MOTORSPORT__item{
    visibility: hidden;
}

#header_click_1 , #header_click_2 , #header_click_3{
    background-color: #fff;
    width: 60px;
    height: 2px;
    cursor: pointer !important;
    margin: 0 5px;
    border-radius:  2px 3px;
}

.navbar-visibly{
    visibility: hidden !important;
}

#MODELS  , #CUSTOM , #OWENRWIP , #MOTORSPORT{
    color: white;
    transition-duration: 0.4s;
    transition-property: border;
    padding-bottom: 5px;
    /* transition-delay: 0.3s; */
    opacity: 0.8;
    transition-timing-function: ease-in-out;
}


#MODELS:hover  , #CUSTOM:hover , #OWENRWIP:hover , #MOTORSPORT:hover{

    border-bottom: 1px solid white;
    opacity: 1;

}

.navbar-CUSTOM a{
    opacity: 0.7;
    transition-property: border;
    padding-bottom: 5px;
    /* transition-delay: 0.3s; */
    /* opacity: 0.8; */
    transition-timing-function: ease-in-out;
}
.navbar-CUSTOM a:hover{
    opacity: 1;
    border-bottom: 1px solid white;
    opacity: 1;
}

#nav__toogle{
    width: 40px;
    height: 40px;
    /* background-color: white; */
    cursor: pointer;
    /* box-shadow: 2px 3px 4px white; */
    display: none;
}

.navbar__list__toogle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}

.navbar____tooogle{
    display: none;
    background-color: #202020;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar____tooogle-block{
    display: block !important;
}

.navbar__list__toogle a{
    color: white;
    padding: 20px 0;
}