*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav__lamborghini{
    display: flex;
    width: 80px;
    height: 80px;
}

.nav{
    background-color: #202020;
    position: sticky;
    top: 0;
}

.nav-list{
display: flex;
justify-content: space-between;
align-items: center;
width: 50%;

}

.nav-list a{
    font-size: 16px;
    color: white;
}

.navbar-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #202020;
}
.header{
    height: calc(100vh - 80px);
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-attachment:local; */
    background-attachment: fixed;
    /* background-position: top 0 left 700px; */
    transition: all 0.3s ease-in-out;
}

.header__text{
    font-size: 25px;
    color: white;
    padding: 10px 0;
}

.header__title{
    font-size: 72px;
    width: 500px;
    color: white;
    padding: 10px 0;
}

#header_click_1 , #header_click_2 , #header_click_3{
    background-color: #fff;
    width: 60px;
    height: 2px;
    cursor: pointer;
    margin: 0 5px;
    border-radius:  2px 3px;
}

.header__bg{
    background-color: white;
}

.header__click{
    display: flex;
    padding: 30px 0 ;
}